body {
  padding: 10px;
  text-align: center;
}
#result,
#output {
  font-size: 25px;
  line-height: 40px;
  padding: 20px;
}
button {
  display: inline-block;
  padding: 11px 50px;
  max-width: 100%;

  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  color: #fff;
  background-color: #02ac46;
  border: 2px solid #02ac46;
  border-radius: 4px;

  transition: color 0.3s, background-color 0.3s;

  cursor: pointer;
  outline: 0 !important;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;

  &:hover,
  &:active {
    color: #02ac46;
    background-color: #fff;
  }
}
button.disable {
  border: #393939;
  opacity: 0.5;
  color: dark;
  background-color: #393939;
  &:hover,
  &:active {
    color: dark;
    background-color: #393939;
  }
}
@import "modal";
